[submodule "kfr_impl/kfr"]
	path = kfr_impl/kfr
	url = https://github.com/kfrlib/kfr
[submodule "google/benchmark"]
	path = google/benchmark
	url = https://github.com/google/benchmark
[submodule "google/highway"]
	path = google/highway
	url = https://github.com/google/highway
[submodule "fftw3_impl/fftw3"]
	path = fftw3_impl/fftw3
	url = https://github.com/zsliu98/fftw3-mirror
